.MeetDavidDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  float: right;
  width: 80vw;
  height: 400px;
  margin-top: 0;
}
#david {
  height: 400px;
  width: auto;
  margin-left: 20px;
  padding-right: -20px;
}
.DavidResumeDiv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  float: right;
  width: 80vw;
  height: 400px;
}
#resume {
  width: auto;
  height: 400px;
}
.DavidPortfolioDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  float: right;
  width: 80vw;
  height: 400px;
}
#portfoliopic {
  width: auto;
  height: 350px
}

 #meetDave {
   margin-bottom: 0px; 
 }
 #davesResume {
  margin-bottom: 0px; 
}
#davesPortfolio {
  margin-bottom: 0px; 
}
.windows {
  position: absolute;
  left: 0;
  top: 0;
  width: 20vw;
  height: 1710px;
  opacity: .7;
}
.separator {
  background-color: #b9f0f2;
  height: 30px;
  width:80vw;
  float: right;
}
@media only screen and (max-width: 1100px) {
  .MeetDavidDiv {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 30vh;
    width: 100vw;
    margin-top: 0;
  }
.windows {
  display: none
}
.separator {
  background-color: #b9f0f2;
  height: 30px;
  width:100vw;
}
.DavidResumeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 30vh;
}
.DavidPortfolioDiv {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100vw;
  height: 30vh;
}
#davesPortfolio {
  /* width: 75vw; */
}
}
