.navigation-div {
  background-color: #00304990;
}
nav {
  display: flex;
  justify-content: space-between;
  padding-right: 5vw;
  padding-left: 40vw;
  font-size: 20px;
}
.shield-name {
  display: flex;
  justify-content: flex-end;
  padding-right: 10vw;

}
#shield {
  height: 100px;
}
#david-title {
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  margin-top: 30px;
  color: #b9f0f2;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
#subtitle {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Gurajada', serif;
  color: black;
  text-shadow: none;
  margin-bottom: 0;
}