.MeetDiv {
  /* display: flex; */
  /* flex-direction: column; */
}
.MeetDiv .container1 {
  display: flex;
}
.MeetDiv .container1 .daveBio {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}
.MeetDiv .container1 .pic1to3Div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  Width: 50%;
}
.MeetDiv .allOtherPics #recruiter {
  position: absolute;
  right: 50px;
  margin-top: -70px;
}
.MeetDiv .allOtherPics #schoolShooting {
  position: absolute;
  left: 0px;
  margin-top: 275px;
}
.MeetDiv .allOtherPics #hiker {
  position: absolute;
  right: 0px;
  /* transform: scale(0.5); */
  z-index: -1;
  margin-top: 320px;
}
.MeetDiv .allOtherPics #familyHiking {
  position: absolute;
  right: 0px;
  /* transform: scale(0.5); */
  left: 0px;
  margin-top: 619px;
}
Footer {
  position: absolute;
  top: 5000px;
}
.MeetDiv .container1 .daveBio .daveBioPara {
  text-align: justify;
}