.MeetDiv .container1 {
  display: flex;
}
.MeetDiv .container1 .daveBio {
  margin-left: 5%;
  margin-right: 5%;
}
.MeetDiv .container1 .pic1to3Div {
  display: none;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%; */
}
.MeetDiv .container1 .daveBio #fam1 {
  width: 200px;
  float: right;
}
.MeetDiv .container1 .daveBio #recruiter {
  width: 300px;
  float: left;
}
.MeetDiv .allOtherPics #schoolShooting {
  position: absolute;
  left: 0px;
  margin-top: 275px;
}
.MeetDiv .allOtherPics #hiker {
  position: absolute;
  right: 0px;
  /* transform: scale(0.5); */
  z-index: -1;
  margin-top: 320px;
}
.MeetDiv .allOtherPics #familyHiking {
  position: absolute;
  right: 0px;
  /* transform: scale(0.5); */
  left: 0px;
  margin-top: 619px;
}
Footer {
  position: absolute;
  top: 5000px;
}
.MeetDiv .container1 .daveBio .daveBioPara {
  text-align: justify;
}
